---
const search =
  Astro.url.searchParams.get('search') || ''
const selectedLangs = ['en', 'es', 'fr']
const full = true
// Astro.url.searchParams.get('full') === 'true'
// const full = Astro.params.full

import Language from '../components/language.astro'
import { dictionaries } from '../dictionaries'

const visibleDictionaries = dictionaries.filter(
  dic =>
    (!dic.target ||
      selectedLangs.includes(dic.target)) &&
    (full || dic.fave)
)

import MW from '../components/dictionaries/mw.astro'
import W from '../components/dictionaries/wiktionary.astro'
import YG from '../components/dictionaries/youglish.astro'
import WR from '../components/dictionaries/wr.astro'
import DL from '../components/dictionaries/deepl.astro'
import Ox from '../components/dictionaries/oxford.astro'
import R from '../components/dictionaries/robert.astro'

import '@awesome.me/webawesome/dist/styles/webawesome.css'
import '@awesome.me/webawesome/dist/components/button/button.js'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/SD.png'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>
      {
        `${search && `${search} – `}SupraDictionary`
      }
    </title>
    <script
      type='module'
      src='https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js'
      defer></script>
  </head>

  <body class='grid place-items-center'>
    <header>
      <h1 class='text-2xl font-semibold'>
        <a
          href='/'
          class='text-inherit no-underline hover:underline'
        >
          SupraDictionary
        </a>
      </h1>
    </header>

    <div>
      <wa-tag pill>English</wa-tag>
      <wa-tag pill>Spanish</wa-tag>
      <wa-tag pill>French</wa-tag>
    </div>

    <form>
      <wa-input
        type='text'
        name='search'
        autofocus
        autocapitalize='off'
        placeholder='Type then press Enter'
        label='Search'
        pill></wa-input>
    </form>
    <wa-tag pill>{search}</wa-tag>
    <MW />
    <WR />
    <Ox />
    <DL />
    <R />
    <W />
    <YG />
  </body>
</html>
