---
const search =
  Astro.url.searchParams.get('search') || ''
const full = true
// Astro.url.searchParams.get('full') === 'true'

const { lang, list, color } = Astro.props
---

<p class='row'>
  {
    list
      .filter(dic => dic.source == lang)
      .sort((a, b) =>
        a.name.localeCompare(b.name)
      )
      .map(dic => (
        <a
          href={dic.url(search)}
          class={`btn ${color} col ${full ? 's3' : 's4'} m2`}
        >
          {dic.name}
        </a>
      ))
  }
</p>
