---
const { lang, list, color, search } = Astro.props
---

<p class='row'>
  <!-- <span>{lang}</span> -->
  {
    list
      .filter(dic => dic.source == lang)
      .sort((a, b) =>
        a.name.localeCompare(b.name)
      )
      .map(dic => (
        <a
          href={dic.url(search)}
          class={`btn-small ${color} col s3 l2`}
        >
          {dic.name}
        </a>
      ))
  }
</p>
