---
const { lang, list, color, search } = Astro.props
const full =
  Astro.url.searchParams.get('full') === 'true'
---

<p class='row'>
  <!-- <span>{lang}</span> -->
  {
    list
      .filter(dic => dic.source == lang)
      .sort((a, b) =>
        a.name.localeCompare(b.name)
      )
      .map(dic => (
        <a
          href={dic.url(search)}
          class={`btn ${color} col ${full ? 's3' : 's4'} m2`}
        >
          {dic.name}
        </a>
      ))
  }
</p>
